<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<h2>New/Edit Post</h2>

<form th:action="@{/newpost}" th:object="${post}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label for="title">Title:</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Enter post title" required>
    </div>
    <br>

    <div>
        <label for="tags">Tags:</label>
        <input style="width:300px;" type="text" th:value=${tagString} name="tagString" id="tags" placeholder="comma seperated:e.g. Java, Spring Boot, JPA" required><br><br>
    </div>

    <br>

    <div>
        <label for="content">Content:</label>
        <textarea th:field="*{content}" id="content" placeholder="Enter content" rows="5" cols="50" required></textarea>
    </div>
    <br>

    <div>
        <button type="submit">Publish</button>
    </div>
</form>

</body>
</html>